{% extends 'baselogin.html' %}
{% block title %} User Signup {% endblock %}

{% block form %}
<h2>Sign Up</h2>
{% include "message.html" %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action='/usersignup' method="post">
            <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="Enter SRF ID" name="srf" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="Enter UserEmail ID" name="email" required>
            </div>

            <div class="form-group">
                <input type="password" class="form-control mt-2" placeholder="Enter Password" name="password" required>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control mt-2" placeholder="Enter Mobile Number"  name="phone" required>
            </div>
            <br>
            <button type="submit"  class="btn btn-info">Sign In</button>

        </form>
        <a class="text-success" href="/userlogin">Click Here to Login</a>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock form %}